In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('D:/김동영/11_Github/mygit/SQL/department.csv')

In [5]:
df

   DeptID    DeptName DeptZone
0       1  Operations    North
1       2     Finance    South
2       3   Marketing     East
3       4          IT     West